<div class='details'>
    <h2> {{movie.title}} Details!!!</h2>
    <img src="{{movie.image}}" alt="movie image">

    <p>Title: {{movie.title}}</p>
    <p>Genre: {{movie.genre}}</p>
    <p>Plot: {{movie.plot}}</p>

</div>